---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Promo from '../components/Promo.astro';
import '../base.css';
---

<Layout title="Catflap" desc='One passport, all of canned.dev.'>
	<main class="w-full">
		<Navigation />
		<Promo />
	</main>
</Layout>