---
import CatflapLogo from './Logo.astro'
---
<div class='bg-slate-300 text-slate-700 w-full mx-3 rounded-b-lg p-3 flex flex-row justify-between gap-2 drop-shadow-lg'>
        <div class="self-center p-2">
            <h1 class="text-xl font-bold">
                Canned Development
            </h1>
        </div>

        <div class='self-center mx-2'>
            <CatflapLogo
            classes='w-12 h-12 fill-slate-700'
            ></CatflapLogo>
        </div>
</div>
