---

interface Props {

}

const {} = Astro.props;

---
<div class="text-white mx-6 my-6">

    <div>
        <h1 class="text-4xl font-bold text-center">
            <span class="text-lg font-normal">
                fun-sized 
            </span>
            <span class="text-2xl font-normal">
                software & 
            </span>
            <span class="text-4xl">
                web design
            </span>
        </h1>
        <br>
        <p class="py-1">
            Canned Development does playful web design and unity prototyping. 
            Currently ran by 
            <a target="_blank" class="text-teal-300 underline underline-offset-2" href="https://catboy.au/">
                Meowcino</a>, 
            our specialties include web frameworks (Astro, Tailwindcss & React) across 
            both Server-Side Rendering (Payload CMS, Docker & Node) and Static projects. 
        </p>
        <p class="py-1">
            We also work with Unity3d, and do UI/UX design & wireframing.  
            Stay tuned, we'll update this with information about Lobster Fisher. 
        </p>
        <br><br>
</div>